# example of file for storing private and user specific environment variables, like keys or system paths
# rename it to ".env" (excluded from version control by default)
# .env is loaded by train.py automatically
# hydra allows you to reference variables in .yaml configs with special syntax: ${oc.env:MY_VAR}

MY_VAR="/home/user/my/system/path"

PROJECT_ROOT="/absolute/path/to/Leak-CURBER"
DATAVERSE_ROOT="/absolute/path/to/Leak-CURBER_dataverse"
DATASET_ROOT="${PROJECT_ROOT}/00-sample__benchmark_datasets"

BRENDA_EMAIL="user@email.com"
BRENDA_PASSWORD="user_password"

PUBMED_EMAIL="user@email.com"
PUBMED_API_KEY="user_pubmed_api_key"
